<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
	<head>
		<meta charset="UTF-8">
		<title>index</title>
		<th:block layout:fragment="css">
			<link rel="stylesheet" th:href="@{/css/tourList_style.css}">
		</th:block>
		<!--<th:block layout:fragment="script">
			<script>
				$(function() {
					alert("hello spring boot");
				});
			</script>
		</th:block>-->
	</head>
	<body>
		<div layout:fragment="content" class="container content">
			<p class="TextTitle">상품 관리</p>
			<hr>
			<button type="button" onclick="location.href='/tour/insertTour'" id="insertBtn">여행지 등록</button>
			<table class="table">
				<tr>
					<th style="background: #EEEEEE;" id="tourNum">번호</th>
					<th style="background: #EEEEEE;" id="tourPackage">패키지</th>
					<th style="background: #EEEEEE;" id="tourTitle">상품명</th>
					<th style="background: #EEEEEE;" id="tourPrice">판매가</th>
					<th style="background: #EEEEEE;" id="tourEdit">관리</th>
				</tr>
				<tr th:each="tour : ${tourList}">
					<td th:text="${tour.tourSeq}"></td>
					<td th:text="${tour.tourPackage}"></td>
					<td th:text="${tour.tourTitle}" class="singleline-ellipsis"></td>
					<td th:text="${#numbers.formatInteger(tour.tourPriceAdult, 0, 'COMMA')}"></td>
					<td>
						<a id="edit">수정</a>
						<a id="edit" th:href="@{/tour/deleteTour/{tourSeq} (tourSeq=${tour.tourSeq})}">삭제</a>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>