<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
	<head>
		<meta charset="UTF-8">
		<title>index</title>
		<th:block layout:fragment="css">
			<link rel="stylesheet" th:href="@{/css/detail_style.css}">
		</th:block>
		
		<th:block layout:fragment="script">
			<script th:inline="javascript">
				function goReservationPage() {
					/*<[CDATA[*/
					const tourSeq = /*[[${tour.tourSeq}]]*/;
					/*]]>*/
					location.href = '/tour/reservation?tour=' + tourSeq 
									+ '&startDate=' + $(".startDate").text() 
									+ '&endDate=' + $('.endDate').text() 
									+ '&rAdult=' + $(".sum-adult").text()
									+ '&rChild=' + $(".sum-child").text()
									+ '&rBaby=' + $(".sum-baby").text();
				}
			
				$(function(){
            
		            // 달력 생성
		            var today = new Date();
		            var date = new Date();
		
		            $("input[name=preMon]").click(function() { // 이전달
		                $("#cal > tbody > td").remove();
		                $("#cal > tbody > tr").remove();
		                today = new Date ( today.getFullYear(), today.getMonth() - 1, today.getDate());
		                buildCal();
		            })
		
		            $("input[name=nextMon]").click(function() { // 다음달
		                $("#cal > tbody > td").remove();
		                $("#cal > tbody > tr").remove();
		                today = new Date ( today.getFullYear(), today.getMonth() + 1, today.getDate());
		                buildCal();
		            })
		
		            function buildCal() {
		                nowYear = today.getFullYear();
		                nowMonth = today.getMonth();
		                firstDate = new Date(nowYear, nowMonth, 1).getDate();
		                firstDay = new Date(nowYear, nowMonth, 1).getDay();
		                lastDate = new Date(nowYear, nowMonth + 1, 0).getDate();
		
		                if((nowYear % 4 == 0 && nowYear % 100 !== 0) || nowYear % 400 == 0) {
		                    lastDate[1] = 29;
		                }
		
		                $(".year_mon").text(nowYear + "년 " + (nowMonth + 1) + "월");
		
		                for(i = 0; i < firstDay; i++) {
		                    $("#cal tbody:last").append("<td></td>");
		                }
		                
		                for(i = 1; i <= lastDate; i++) {
		                    plusDate = new Date(nowYear, nowMonth, i).getDay();
		
		                    if(plusDate == 0) {
		                        $("#cal tbody:last").append("<tr></tr>");
		                    }
		                    $("#cal tbody:last").append("<td class='date'>"+ i +"</td>");
		                }
		
		                if($("#cal > tbdoy > td").length % 7 != 0) {
		                    for(i = 1; i <= $("#cal > tbody > td").length % 7; i++) {
		                        $("#cal tbody:last").append("<td></td>");
		                    }
		                }
		                
		                $(".date").each(function(index) {
		                    if(nowYear == date.getFullYear() && nowMonth == date.getMonth() && $(".date").eq(index).text() == date.getDate()) {
		                        $(".date").eq(index).addClass("colToday");
		                    }
		
		                    if(nowYear < date.getFullYear()) {
		                        $(".date").eq(index).addClass("caldisable");
		                    }
		                    if(nowYear == date.getFullYear() && nowMonth < date.getMonth()) {
		                        $(".date").eq(index).addClass("caldisable");
		                    } else if( nowYear == date.getFullYear() && nowMonth == date.getMonth() && $(".date").eq(index).text() < date.getDate()) {
		                        $(".date").eq(index).addClass("caldisable");
		                    } 
		                })
		            }
		
		            buildCal();
		
		
		            // 달력 부분            
		            $(document).on("click", ".date", function() {
		                $("#cal tbody td").not("td.caldisable").css("background", "#fff")
		                                                       .css("color", "#000");
		
		                $(this).css("background", "#e74c3c")
		                       .css("color", "#ffffff");
		                
		                var index = $("#cal tbody td").index(this);
		                
		                /*<[CDATA[*/
						const night = /*[[${tour.tourNight}]]*/;
						/*]]>*/
		     
		                $("#cal tbody td").eq(index + night).css("background", "#e74c3c")
		                                     .css("color", "#ffffff");
		                
		
		                $(".if").css("borderColor", "#e74c3c");
		                $(".select-button").css("background", "#e74c3c")
		                                   .text('선택됨')
		                                   .css("color", "#ffffff");
		
		                $(".if-bottom").css("display" , "block");
		
		                var day = index % 7;
		                var startdate = $(".year_mon").text() + " " + $(this).text() + "일 (" + $(".cal-top th").eq(day).text() + ")";
		                $(".startDate").text(startdate);
		
		                var enddate = $(".year_mon").text() + " " + $("#cal tbody td").eq(index + night).text() + "일 (" + $(".cal-top th").eq(day + night).text() + ")";
		                $(".endDate").text(enddate);
		
		                $(".btnR2").hide();
		                $(".btnR1").show();
		            });
		
		
		            $(document).on("mouseover", ".date", function() {
		                if(rgb2hex($(this).css("backgroundColor")) != "#e74c3c") 
		                        $(this).css("background", "#F0C1B4");
		            });
		
		            $(document).on("mouseout", ".date", function() {
		                if(rgb2hex($(this).css("backgroundColor")) != "#e74c3c")
		                        $(this).css("background", "#ffffff");
		            });
		            
		            $(".btnR1").hide();
		            $(".btnR2").show();
		
		            // 예약 버튼 관련
		
		
		            
		            $(".content-2").hide();
		            $(".content-3").hide();
		            $(".content-4").hide();
		            $(".content-5").hide();
		            $(".content-1").show();
		            $("#submenu-1").css("background", "#e74c3c")
		                           .css("borderColor", "#e74c3c")
		                           .css("color", "#ffffff");
		
		            
		            // 서브메뉴 클릭시 다른 div로 변경
		            $("#submenu-1").click(function(){
		                $(".content-2").hide();
		                $(".content-3").hide();
		                $(".content-4").hide();
		                $(".content-5").hide();
		                $(".content-1").show();
		
		                $(".menubtn button").css("background", "#F0C1B4")
		                                    .css("borderColor", "#F0C1B4")
		                                    .css("color", "#000000");
		            
		                $(this).css("background", "#e74c3c")
		                            .css("borderColor", "#e74c3c")
		                            .css("color", "#ffffff");
		
		            });
		
		            $("#submenu-2").click(function(){
		                $(".content-1").hide();
		                $(".content-3").hide();
		                $(".content-4").hide();
		                $(".content-5").hide();
		                $(".content-2").show();
		
		                $(".menubtn button").css("background", "#F0C1B4")
		                                    .css("border", "#F0C1B4")
		                                    .css("color", "#000000");
		            
		                $(this).css("background", "#e74c3c")
		                               .css("border", "#e74c3c")
		                               .css("color", "#ffffff");
		            });
		
		            $("#submenu-3").click(function(){
		                $(".content-1").hide();
		                $(".content-2").hide();
		                $(".content-4").hide();
		                $(".content-5").hide();
		                $(".content-3").show();
		                $(".menubtn button").css("background", "#F0C1B4")
		                                    .css("border", "#F0C1B4")
		                                    .css("color", "#000000");
		            
		                $(this).css("background", "#e74c3c")
		                               .css("border", "#e74c3c")
		                               .css("color", "#ffffff");
		            });
		
		            $("#submenu-4").click(function(){
		                $(".content-1").hide();
		                $(".content-2").hide();
		                $(".content-3").hide();
		                $(".content-5").hide();
		                $(".content-4").show();
		                $(".menubtn button").css("background", "#F0C1B4")
		                                    .css("border", "#F0C1B4")
		                                    .css("color", "#000000");
		            
		                $(this).css("background", "#e74c3c")
		                               .css("border", "#e74c3c")
		                               .css("color", "#ffffff");
		                
		            });
		
		            $("#submenu-5").click(function(){
		                $(".content-1").hide();
		                $(".content-2").hide();
		                $(".content-3").hide();
		                $(".content-4").hide();
		                $(".content-5").show();
		                $(".menubtn button").css("background", "#F0C1B4")
		                                    .css("border", "#F0C1B4")
		                                    .css("color", "#000000");
		            
		                $(this).css("background", "#e74c3c")
		                               .css("border", "#e74c3c")
		                               .css("color", "#ffffff");
		                
		            });
		
		
		            // 서브메뉴 여행 일정에서 버튼 클릭시 div 내렸다 올리기
		            
		            $("#scheduleBtn1").on("click", function(){
		                $(".sdiv1").slideToggle(function() {});
		
		
		            });
		
		            $("#scheduleBtn2").on("click", function(){
		                $(".sdiv2").slideToggle( function() {
		                    if($(".sdiv2").css("display") == "none")
		                        $("#scheduleBtn2").css({"background":"url(./images/up.png)"});
		                    else 
		                        $("#scheduleBtn2").css({"background":"url(./images/down1.png)"});
		                })
		            });
		
		
		
		            function rgb2hex(rgb) {
		                if ( rgb.search("rgb") == -1 ) {
		                    return rgb;
		                } else {
		                    rgb = rgb.match(/^rgba?\((\d+),\s*(\d+),\s*(\d+)(?:,\s*(\d+))?\)$/);
		                    function hex(x) {
		                        return ("0" + parseInt(x).toString(16)).slice(-2);
		                    }
		                    return "#" + hex(rgb[1]) + hex(rgb[2]) + hex(rgb[3]); 
		                }
		            }
		
		
		             // plus minus 버튼 클릭시 숫자 변경
		            // 어른
		            $("#plus_adult").on("click", function() {
		                var num = parseInt($(".sum-adult").text());
		                num++;
		                $(".sum-adult").text(num);
		                sumPrice(num);
		            });
		
		            $("#minus_adult").on("click", function() {
		                var num = parseInt($(".sum-adult").text());
		                
		                if(num > 1)
		                    num--;
		                
		                $(".sum-adult").text(num);
		                sumPrice(num);
		            });
		
		            // 아동
		            $("#plus_child").on("click", function() {
		                var num = parseInt($(".sum-child").text());
		                num++;
		                $(".sum-child").text(num);
		                sumPrice(num);
		            });
		
		            $("#minus_child").on("click", function() {
		                var num = parseInt($(".sum-child").text());
		                
		                if(num > 0)
		                    num--;
		                
		                $(".sum-child").text(num);
		                sumPrice(num);
		            });
		
		            // 유아
		            $("#plus_baby").on("click", function() {
		                var num = parseInt($(".sum-baby").text());
		                num++;
		                $(".sum-baby").text(num);
		                sumPrice(num);
		            });
		
		            $("#minus_baby").on("click", function() {
		                var num = parseInt($(".sum-baby").text());
		                
		                if(num > 0)
		                    num--;
		                
		                $(".sum-baby").text(num);
		                sumPrice(num);
		            });
		
		
		            
		            // 모달창 상품 문의 등록
		            $(".modalBtn2").on("click", function() {
		                year = date.getFullYear();
		                month = date.getMonth() + 1;
		                day = date.getDate();
		                if(month < 10)
		                    month = "0" + month;
		                td = year + "-" + month + "-" + day;
		
		                $(".inquiryTable tbody").prepend("<tr><td class='inTText'>답변대기</td><td>" + $("#message-text").val() + "</td><td class='inTText'>불사조</td><td class='inTText'>" + td +"</td></tr>");
		
		
		            })
		
		
				});
		
		        function sumPrice(num) {
		            var sumPrice = (parseInt($.withoutCommas($("#adult-price").text())) * parseInt($(".sum-adult").text()))
		                           + (parseInt($.withoutCommas($("#child-price").text())) * parseInt($(".sum-child").text())) 
		                           + (parseInt($.withoutCommas($("#baby-price").text())) * parseInt($(".sum-baby").text()));
		            $(".price-sum").text($.numberWithCommas(sumPrice)); 
		        }
		
		        // 콤마찍기
		        $.numberWithCommas = function (x) {
		            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
		        }
		
		        // 콤마빼기
		        $.withoutCommas = function (x) {
		            return x.toString().replace(",", '');
		        }
			</script>
		</th:block>
	</head>
	<body>
		<div layout:fragment="content" class="container content">
	        <!--사진과 제목-->
	        <div class="row align-items-start">
	        	<input type="hidden" name="tourSeq" value="${tour.tourSeq }">
	            <!--사진 캐러셀-->
	            <div class="col Title">
	                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
	                    <div class="carousel-indicators">
	                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
	                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
	                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
	                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
	                    </div>
	                    <div class="carousel-inner">
	                    <div class="carousel-item active" th:each="fileList: ${fileList}" th:if="${fileList.fileSeq == 1}">
	                        <img th:src="@{/upload/} + ${fileList.fileName}" class="d-block pic" alt="테마1-1 이미지1">
	                    </div>
	                    <div class="carousel-item" th:each="fileList: ${fileList}" th:if="${fileList.fileSeq != 1}">
	                        <img th:src="@{/upload/} + ${fileList.fileName}" class="d-block pic" alt="테마1-1 이미지1">
	                    </div>
	                </div>
	                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
	                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	                    <span class="visually-hidden">Previous</span>
	                    </button>
	                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
	                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	                    <span class="visually-hidden">Next</span>
	                    </button>
	                </div>
	            </div>
	             <!--테마 제목 및 내용-->
	            <div class="col Title">
	                <p class="textSmall" th:text="${tour.tourPackage }"></p>
	                <h3 th:text="${tour.tourTitle }"></h3>
	                <hr>
					<p th:text="${tour.tourContent }"></p> 
	                <hr>
	                <a href="" class="review">
	                    <span>리뷰</span>
	                    <br>
	                    <div class="reviewG">
	                        <span class="star">0.0 ☆☆☆☆☆</span>
	                        <span>💬 0</span>
	                    </div>
	                </a>
	            </div>
	        </div>
	        <div class="reservation">
	            <h4 class="midTitle">상품 선택</h4>
	            <hr>
	            <h5 class="subTile">출발일 선택</h5>
	            <div class="row align-items-start reservation-div">
	                <!--달력 부분-->
	                <div class="col clalendar">
	                    <table id="cal">
	                        <thead>
	                            <tr>
	                                <th><input name="preMon" type="button" value="<"></th>
	                                <th colspan="5" class="year_mon"></th>
	                                <th><input name="nextMon" type="button" value=">"></th>
	                            </tr>
	                            <tr class="cal-top">
	                                <th>일</th>
	                                <th>월</th>
	                                <th>화</th>
	                                <th>수</th>
	                                <th>목</th>
	                                <th>금</th>
	                                <th>토</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                        </tbody>
	                    </table>
	                </div>
	                <!--예약 정보 부분-->
	                <div class="col if">
	                    <div class="if-top">
	                        <span class="select-button">미선택</span>
	                        <p class="select-Title" th:text="'[' + ${tour.tourPackage } + '] ' + ${tour.tourTitle }"></p>
	                    </div>
	                    <div class="if-bottom">
	                        <p>예약현황 : 현재예약 0 명 / 최대예약 0명 (최소출발인원 0명)</p>
	                        <p>일 정 : <span class="startDate" name="startDate"></span> ~ <span class="endDate" name="endDate"></span> / <span th:text="${tour.tourNight } + '박 ' + ${tour.tourDay } + '일'"></span></p>
	                        <p>여행도시 : 전라북도 전주시</p>
	                    </div>
	                </div>
	            </div>
	            <!--인원 선택 부분-->
	            <br>
	            <h5 class="subTile">인원 선택</h5>
	            <div class="personnel reservation-div">
	                <div class="personnelSelect personnel-div-top">
	                    <div class="PS">
	                        <p class="TextMidTitle">성인</p>
	                        <p>(만 14세 이상)</p>
	                        <p class="TextMidTitle" id="adult-price" th:text="${#numbers.formatInteger(tour.tourPriceAdult, 0, 'COMMA')}"></p>
	                        <div class="TextMidTitle sum-button sum-button-media">
	                            <button type="button" id="minus_adult">-</button>
	                            <p class="sum-adult">1</p>
	                            <button type="button" id="plus_adult">+</button>
	                        </div>
	                    </div>
	                    <div class="PS">
	                        <p class="TextMidTitle">아동</p>
	                        <p>(만 2세 이상 만 14세 미만)</p>
	                        <p class="TextMidTitle" id="child-price" th:text="${#numbers.formatInteger(tour.tourPriceChild, 0, 'COMMA')}"></p>
	                        <div class="TextMidTitle sum-button">
	                            <button type="button" id="minus_child">-</button>
	                            <p class="sum-child">0</p>
	                            <button type="button" id="plus_child">+</button>
	                        </div>
	                    </div>
	                    <div class="PS">
	                            <p class="TextMidTitle">유아</p>
	                            <p>(만 2세 미만)</p>
	                            <p class="TextMidTitle" id="baby-price" th:text="${#numbers.formatInteger(tour.tourPriceBaby, 0, 'COMMA')}"></p>
	                        <div class="TextMidTitle sum-button sum-button-media">
	                            <button type="button" id="minus_baby">-</button>
	                            <p class="sum-baby">0</p>
	                            <button type="button" id="plus_baby">+</button>
	                        </div>
	                     </div>
	
	                </div>
	                <div class="sum personnel-div-bottom">
	                    <table class="price-sum-table">
	                        <tr>
	                            <th>총 금액</th>
	                            <td class="price-sum" th:text="${#numbers.formatInteger(tour.tourPriceAdult, 0, 'COMMA')}"></td>
	                            <td class="price-sum-table-td">원</td>
	                        </tr>
	                    </table>
	                </div>
	            </div>
	
	            <!--예약 버튼-->
	            <div class="rbtn reservation-div">
	                <button type="button" class="btnR btnR1" data-bs-toggle="modal" data-bs-target="#r1" 
	                		onclick="goReservationPage()">
	                		예약
	                </button>
	                <button type="button" class="btnR btnR2" data-bs-toggle="modal" data-bs-target="#r2">예약</button>
	<!--                 <div class="modal fade modal-sm" id="r1">
	                    <div class="modal-dialog modal-dialog-centered">
	                        <div class="modal-content">
	                            <div class="modal-header">
	                                <h class="modal-title">로그인 안내</h5>
	                            </div>
	                            <div class="modal-body">
	                                로그인 후 예약하시면 <span class="span">회원특가</span>와 
	                                <br><span class="span">마일리지 혜택</span>을 받으실 수 있습니다.
	                            </div>
	                            <div class="modal-footer">
	                                <a href="tour_Info_reservation_1-1.html">
	                                    <button type="button" class="RBtn1" data-bs-dismiss="modal">비회원 예약하기</button>
	                                </a>
	                                <a href="/user/login.do">
	                                    <button type="button" class="RBtn2" data-bs-dismiss="modal">로그인</button>
	                                </a>
	                            </div>
	                        </div>
	                    </div>
	                </div> -->
	                <div class="modal fade modal-sm" id="r2">
	                    <div class="modal-dialog modal-dialog-centered">
	                        <div class="modal-content">
	                            <div class="modal-header">
	                                <h class="modal-title">안내</h5>
	                            </div>
	                            <div class="modal-body">
	                                <span class="span">출발일</span>과 <span class="span">상품</span>을 선택해 주세요.
	                            </div>
	                            <div class="modal-footer">
	                                <button type="button" class="RBtn3" data-bs-dismiss="modal">확인</button>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <!---->
	        
	    </div>
	</body>
</html>