<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
	<head>
		<meta charset="UTF-8">
		<title>index</title>
		<th:block layout:fragment="css">
			<link rel="stylesheet" th:href="@{/css/detail_style.css}">
		</th:block>
		
		<th:block layout:fragment="script">
			<script>
				$(function(){
            
		            // 달력 생성
		            var today = new Date();
		            var date = new Date();
		
		            $("input[name=preMon]").click(function() { // 이전달
		                $("#cal > tbody > td").remove();
		                $("#cal > tbody > tr").remove();
		                today = new Date ( today.getFullYear(), today.getMonth() - 1, today.getDate());
		                buildCal();
		            })
		
		            $("input[name=nextMon]").click(function() { // 다음달
		                $("#cal > tbody > td").remove();
		                $("#cal > tbody > tr").remove();
		                today = new Date ( today.getFullYear(), today.getMonth() + 1, today.getDate());
		                buildCal();
		            })
		
		            function buildCal() {
		                nowYear = today.getFullYear();
		                nowMonth = today.getMonth();
		                firstDate = new Date(nowYear, nowMonth, 1).getDate();
		                firstDay = new Date(nowYear, nowMonth, 1).getDay();
		                lastDate = new Date(nowYear, nowMonth + 1, 0).getDate();
		
		                if((nowYear % 4 == 0 && nowYear % 100 !== 0) || nowYear % 400 == 0) {
		                    lastDate[1] = 29;
		                }
		
		                $(".year_mon").text(nowYear + "년 " + (nowMonth + 1) + "월");
		
		                for(i = 0; i < firstDay; i++) {
		                    $("#cal tbody:last").append("<td></td>");
		                }
		                
		                for(i = 1; i <= lastDate; i++) {
		                    plusDate = new Date(nowYear, nowMonth, i).getDay();
		
		                    if(plusDate == 0) {
		                        $("#cal tbody:last").append("<tr></tr>");
		                    }
		                    $("#cal tbody:last").append("<td class='date'>"+ i +"</td>");
		                }
		
		                if($("#cal > tbdoy > td").length % 7 != 0) {
		                    for(i = 1; i <= $("#cal > tbody > td").length % 7; i++) {
		                        $("#cal tbody:last").append("<td></td>");
		                    }
		                }
		                
		                $(".date").each(function(index) {
		                    if(nowYear == date.getFullYear() && nowMonth == date.getMonth() && $(".date").eq(index).text() == date.getDate()) {
		                        $(".date").eq(index).addClass("colToday");
		                    }
		
		                    if(nowYear < date.getFullYear()) {
		                        $(".date").eq(index).addClass("caldisable");
		                    }
		                    if(nowYear == date.getFullYear() && nowMonth < date.getMonth()) {
		                        $(".date").eq(index).addClass("caldisable");
		                    } else if( nowYear == date.getFullYear() && nowMonth == date.getMonth() && $(".date").eq(index).text() < date.getDate()) {
		                        $(".date").eq(index).addClass("caldisable");
		                    } 
		                })
		            }
		
		            buildCal();
		
		
		            // 달력 부분            
		            $(document).on("click", ".date", function() {
		                $("#cal tbody td").not("td.caldisable").css("background", "#fff")
		                                                       .css("color", "#000");
		
		                $(this).css("background", "#e74c3c")
		                       .css("color", "#ffffff");
		                
		                var index = $("#cal tbody td").index(this);
		     
		                $("#cal tbody td").eq(index + 1).css("background", "#e74c3c")
		                                     .css("color", "#ffffff");
		                
		
		                $(".if").css("borderColor", "#e74c3c");
		                $(".select-button").css("background", "#e74c3c")
		                                   .text('선택됨')
		                                   .css("color", "#ffffff");
		
		                $(".if-bottom").css("display" , "block");
		
		                var day = index % 7;
		                var startdate = $(".year_mon").text() + " " + $(this).text() + "일 (" + $(".cal-top th").eq(day).text() + ")";
		                $(".startDate").text(startdate);
		
		                var enddate = $(".year_mon").text() + " " + $("#cal tbody td").eq(index + 1).text() + "일 (" + $(".cal-top th").eq(day + 1).text() + ")";
		                $(".endDate").text(enddate);
		
		                $(".btnR2").hide();
		                $(".btnR1").show();
		            });
		
		
		            $(document).on("mouseover", ".date", function() {
		                if(rgb2hex($(this).css("backgroundColor")) != "#e74c3c") 
		                        $(this).css("background", "#F0C1B4");
		            });
		
		            $(document).on("mouseout", ".date", function() {
		                if(rgb2hex($(this).css("backgroundColor")) != "#e74c3c")
		                        $(this).css("background", "#ffffff");
		            });
		            
		            $(".btnR1").hide();
		            $(".btnR2").show();
		
		            // 예약 버튼 관련
		
		
		            
		            $(".content-2").hide();
		            $(".content-3").hide();
		            $(".content-4").hide();
		            $(".content-5").hide();
		            $(".content-1").show();
		            $("#submenu-1").css("background", "#e74c3c")
		                           .css("borderColor", "#e74c3c")
		                           .css("color", "#ffffff");
		
		            
		            // 서브메뉴 클릭시 다른 div로 변경
		            $("#submenu-1").click(function(){
		                $(".content-2").hide();
		                $(".content-3").hide();
		                $(".content-4").hide();
		                $(".content-5").hide();
		                $(".content-1").show();
		
		                $(".menubtn button").css("background", "#F0C1B4")
		                                    .css("borderColor", "#F0C1B4")
		                                    .css("color", "#000000");
		            
		                $(this).css("background", "#e74c3c")
		                            .css("borderColor", "#e74c3c")
		                            .css("color", "#ffffff");
		
		            });
		
		            $("#submenu-2").click(function(){
		                $(".content-1").hide();
		                $(".content-3").hide();
		                $(".content-4").hide();
		                $(".content-5").hide();
		                $(".content-2").show();
		
		                $(".menubtn button").css("background", "#F0C1B4")
		                                    .css("border", "#F0C1B4")
		                                    .css("color", "#000000");
		            
		                $(this).css("background", "#e74c3c")
		                               .css("border", "#e74c3c")
		                               .css("color", "#ffffff");
		            });
		
		            $("#submenu-3").click(function(){
		                $(".content-1").hide();
		                $(".content-2").hide();
		                $(".content-4").hide();
		                $(".content-5").hide();
		                $(".content-3").show();
		                $(".menubtn button").css("background", "#F0C1B4")
		                                    .css("border", "#F0C1B4")
		                                    .css("color", "#000000");
		            
		                $(this).css("background", "#e74c3c")
		                               .css("border", "#e74c3c")
		                               .css("color", "#ffffff");
		            });
		
		            $("#submenu-4").click(function(){
		                $(".content-1").hide();
		                $(".content-2").hide();
		                $(".content-3").hide();
		                $(".content-5").hide();
		                $(".content-4").show();
		                $(".menubtn button").css("background", "#F0C1B4")
		                                    .css("border", "#F0C1B4")
		                                    .css("color", "#000000");
		            
		                $(this).css("background", "#e74c3c")
		                               .css("border", "#e74c3c")
		                               .css("color", "#ffffff");
		                
		            });
		
		            $("#submenu-5").click(function(){
		                $(".content-1").hide();
		                $(".content-2").hide();
		                $(".content-3").hide();
		                $(".content-4").hide();
		                $(".content-5").show();
		                $(".menubtn button").css("background", "#F0C1B4")
		                                    .css("border", "#F0C1B4")
		                                    .css("color", "#000000");
		            
		                $(this).css("background", "#e74c3c")
		                               .css("border", "#e74c3c")
		                               .css("color", "#ffffff");
		                
		            });
		
		
		            // 서브메뉴 여행 일정에서 버튼 클릭시 div 내렸다 올리기
		            
		            $("#scheduleBtn1").on("click", function(){
		                $(".sdiv1").slideToggle(function() {});
		
		
		            });
		
		            $("#scheduleBtn2").on("click", function(){
		                $(".sdiv2").slideToggle( function() {
		                    if($(".sdiv2").css("display") == "none")
		                        $("#scheduleBtn2").css({"background":"url(./images/up.png)"});
		                    else 
		                        $("#scheduleBtn2").css({"background":"url(./images/down1.png)"});
		                })
		            });
		
		
		
		            function rgb2hex(rgb) {
		                if ( rgb.search("rgb") == -1 ) {
		                    return rgb;
		                } else {
		                    rgb = rgb.match(/^rgba?\((\d+),\s*(\d+),\s*(\d+)(?:,\s*(\d+))?\)$/);
		                    function hex(x) {
		                        return ("0" + parseInt(x).toString(16)).slice(-2);
		                    }
		                    return "#" + hex(rgb[1]) + hex(rgb[2]) + hex(rgb[3]); 
		                }
		            }
		
		
		             // plus minus 버튼 클릭시 숫자 변경
		            // 어른
		            $("#plus_adult").on("click", function() {
		                var num = parseInt($(".sum-adult").text());
		                num++;
		                $(".sum-adult").text(num);
		                sumPrice(num);
		            });
		
		            $("#minus_adult").on("click", function() {
		                var num = parseInt($(".sum-adult").text());
		                
		                if(num > 1)
		                    num--;
		                
		                $(".sum-adult").text(num);
		                sumPrice(num);
		            });
		
		            // 아동
		            $("#plus_child").on("click", function() {
		                var num = parseInt($(".sum-child").text());
		                num++;
		                $(".sum-child").text(num);
		                sumPrice(num);
		            });
		
		            $("#minus_child").on("click", function() {
		                var num = parseInt($(".sum-child").text());
		                
		                if(num > 0)
		                    num--;
		                
		                $(".sum-child").text(num);
		                sumPrice(num);
		            });
		
		            // 유아
		            $("#plus_baby").on("click", function() {
		                var num = parseInt($(".sum-baby").text());
		                num++;
		                $(".sum-baby").text(num);
		                sumPrice(num);
		            });
		
		            $("#minus_baby").on("click", function() {
		                var num = parseInt($(".sum-baby").text());
		                
		                if(num > 0)
		                    num--;
		                
		                $(".sum-baby").text(num);
		                sumPrice(num);
		            });
		
		
		            
		            // 모달창 상품 문의 등록
		            $(".modalBtn2").on("click", function() {
		                year = date.getFullYear();
		                month = date.getMonth() + 1;
		                day = date.getDate();
		                if(month < 10)
		                    month = "0" + month;
		                td = year + "-" + month + "-" + day;
		
		                $(".inquiryTable tbody").prepend("<tr><td class='inTText'>답변대기</td><td>" + $("#message-text").val() + "</td><td class='inTText'>불사조</td><td class='inTText'>" + td +"</td></tr>");
		
		
		            })
		
		
				});
		
		        function sumPrice(num) {
		            var sumPrice = (parseInt($.withoutCommas($("#adult-price").text())) * parseInt($(".sum-adult").text()))
		                           + (parseInt($.withoutCommas($("#child-price").text())) * parseInt($(".sum-child").text())) 
		                           + (parseInt($.withoutCommas($("#baby-price").text())) * parseInt($(".sum-baby").text()));
		            $(".price-sum").text($.numberWithCommas(sumPrice)); 
		        }
		
		        // 콤마찍기
		        $.numberWithCommas = function (x) {
		            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
		        }
		
		        // 콤마빼기
		        $.withoutCommas = function (x) {
		            return x.toString().replace(",", '');
		        }
			</script>
		</th:block>
	</head>
	<body>
		<div layout:fragment="content" class="container content">
	        <!--사진과 제목-->
	        <div class="row align-items-start">
	        	<input type="hidden" name="tourSeq" value="${tour.tourSeq }">
	            <!--사진 캐러셀-->
	            <div class="col Title">
	                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
	                    <div class="carousel-indicators">
	                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
	                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
	                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
	                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
	                    </div>
	                    <div class="carousel-inner">
	                    <div class="carousel-item active" th:each="fileList: ${fileList}" th:if="${fileList.fileSeq == 1}">
	                        <img th:src="@{/upload/} + ${fileList.fileName}" class="d-block pic" alt="테마1-1 이미지1">
	                    </div>
	                    <div class="carousel-item" th:each="fileList: ${fileList}" th:if="${fileList.fileSeq != 1}">
	                        <img th:src="@{/upload/} + ${fileList.fileName}" class="d-block pic" alt="테마1-1 이미지1">
	                    </div>
	                </div>
	                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
	                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	                    <span class="visually-hidden">Previous</span>
	                    </button>
	                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
	                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	                    <span class="visually-hidden">Next</span>
	                    </button>
	                </div>
	            </div>
	             <!--테마 제목 및 내용-->
	            <div class="col Title">
	                <p class="textSmall" th:text="${tour.tourPackage }"></p>
	                <h3 th:text="${tour.tourTitle }"></h3>
	                <hr>
					<p th:text="${tour.tourContent }"></p> 
	                <hr>
	                <a href="" class="review">
	                    <span>리뷰</span>
	                    <br>
	                    <div class="reviewG">
	                        <span class="star">0.0 ☆☆☆☆☆</span>
	                        <span>💬 0</span>
	                    </div>
	                </a>
	            </div>
	        </div>
	        <div class="reservation">
	            <h4 class="midTitle">상품 선택</h4>
	            <hr>
	            <h5 class="subTile">출발일 선택</h5>
	            <div class="row align-items-start reservation-div">
	                <!--달력 부분-->
	                <div class="col clalendar">
	                    <table id="cal">
	                        <thead>
	                            <tr>
	                                <th><input name="preMon" type="button" value="<"></th>
	                                <th colspan="5" class="year_mon"></th>
	                                <th><input name="nextMon" type="button" value=">"></th>
	                            </tr>
	                            <tr class="cal-top">
	                                <th>일</th>
	                                <th>월</th>
	                                <th>화</th>
	                                <th>수</th>
	                                <th>목</th>
	                                <th>금</th>
	                                <th>토</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                        </tbody>
	                    </table>
	                </div>
	                <!--예약 정보 부분-->
	                <div class="col if">
	                    <div class="if-top">
	                        <span class="select-button">미선택</span>
	                        <p class="select-Title" th:text="'[' + ${tour.tourPackage } + '] ' + ${tour.tourTitle }"></p>
	                    </div>
	                    <div class="if-bottom">
	                        <p>예약현황 : 현재예약 0 명 / 최대예약 0명 (최소출발인원 0명)</p>
	                        <p>일 정 : <span class="startDate"></span> ~ <span class="endDate"></span> / <span th:text="${tour.tourNight } + '박 ' + ${tour.tourDay } + '일'"></span></p>
	                        <p>여행도시 : 전라북도 전주시</p>
	                    </div>
	                </div>
	            </div>
	            <!--인원 선택 부분-->
	            <br>
	            <h5 class="subTile">인원 선택</h5>
	            <div class="personnel reservation-div">
	                <div class="personnelSelect personnel-div-top">
	                    <div class="PS">
	                        <p class="TextMidTitle">성인</p>
	                        <p>(만 14세 이상)</p>
	                        <p class="TextMidTitle" id="adult-price" th:text="${#numbers.formatInteger(tour.tourPriceAdult, 0, 'COMMA')}"></p>
	                        <div class="TextMidTitle sum-button sum-button-media">
	                            <button type="button" id="minus_adult">-</button>
	                            <p class="sum-adult">1</p>
	                            <button type="button" id="plus_adult">+</button>
	                        </div>
	                    </div>
	                    <div class="PS">
	                        <p class="TextMidTitle">아동</p>
	                        <p>(만 2세 이상 만 14세 미만)</p>
	                        <p class="TextMidTitle" id="child-price" th:text="${#numbers.formatInteger(tour.tourPriceChild, 0, 'COMMA')}"></p>
	                        <div class="TextMidTitle sum-button">
	                            <button type="button" id="minus_child">-</button>
	                            <p class="sum-child">0</p>
	                            <button type="button" id="plus_child">+</button>
	                        </div>
	                    </div>
	                    <div class="PS">
	                            <p class="TextMidTitle">유아</p>
	                            <p>(만 2세 미만)</p>
	                            <p class="TextMidTitle" id="baby-price" th:text="${#numbers.formatInteger(tour.tourPriceBaby, 0, 'COMMA')}"></p>
	                        <div class="TextMidTitle sum-button sum-button-media">
	                            <button type="button" id="minus_baby">-</button>
	                            <p class="sum-baby">0</p>
	                            <button type="button" id="plus_baby">+</button>
	                        </div>
	                     </div>
	
	                </div>
	                <div class="sum personnel-div-bottom">
	                    <table class="price-sum-table">
	                        <tr>
	                            <th class="">총 금액</th>
	                            <td class="price-sum" th:text="${#numbers.formatInteger(tour.tourPriceAdult, 0, 'COMMA')}"></td>
	                            <td class="price-sum-table-td">원</td>
	                        </tr>
	                    </table>
	                </div>
	            </div>
	
	            <!--예약 버튼-->
	            <div class="rbtn reservation-div">
	                <button type="button" class="btnR btnR1" data-bs-toggle="modal" data-bs-target="#r1" onclick="location.href='/tour/reservation'">예약</button>
	                <button type="button" class="btnR btnR2" data-bs-toggle="modal" data-bs-target="#r2">예약</button>
	<!--                 <div class="modal fade modal-sm" id="r1">
	                    <div class="modal-dialog modal-dialog-centered">
	                        <div class="modal-content">
	                            <div class="modal-header">
	                                <h class="modal-title">로그인 안내</h5>
	                            </div>
	                            <div class="modal-body">
	                                로그인 후 예약하시면 <span class="span">회원특가</span>와 
	                                <br><span class="span">마일리지 혜택</span>을 받으실 수 있습니다.
	                            </div>
	                            <div class="modal-footer">
	                                <a href="tour_Info_reservation_1-1.html">
	                                    <button type="button" class="RBtn1" data-bs-dismiss="modal">비회원 예약하기</button>
	                                </a>
	                                <a href="/user/login.do">
	                                    <button type="button" class="RBtn2" data-bs-dismiss="modal">로그인</button>
	                                </a>
	                            </div>
	                        </div>
	                    </div>
	                </div> -->
	                <div class="modal fade modal-sm" id="r2">
	                    <div class="modal-dialog modal-dialog-centered">
	                        <div class="modal-content">
	                            <div class="modal-header">
	                                <h class="modal-title">안내</h5>
	                            </div>
	                            <div class="modal-body">
	                                <span class="span">출발일</span>과 <span class="span">상품</span>을 선택해 주세요.
	                            </div>
	                            <div class="modal-footer">
	                                <button type="button" class="RBtn3" data-bs-dismiss="modal">확인</button>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <!---->
	        <div class="subContent">
	            <div class="subMenu">
	                <div class="menubtn">
	                    <button type="button" id="submenu-1" class="btnM">상품정보</button>
	                    <button type="button" id="submenu-2" class="btnM">여행일정표</button>
	                    <button type="button" id="submenu-3" class="btnM">관광지/호텔</button>
	                    <button type="button" id="submenu-4" class="btnM">참고사항</button>
	                    <button type="button" id="submenu-5" class="btnM">상품문의</button>
	                </div>
	            </div>
	            <div class="subMcontent">
	                <div class="content-1">
	                    <img src="${pageContext.request.contextPath }/images/theme1-1_info.jpg" alt="테마1 상품정보">
	                </div>
	                <div class="content-2">
	                    <p class="cTextT">여행일정표</p>
	                    <div class="schedule">
	                        <div class="accordion" id="accordionPanelsStayOpenExample">
	                            <div class="accordion-item">
	                                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
	                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
	                                        <div class="scheduleTL">
	                                            <p>1일차</p>
	                                        </div>
	                                        <div class="scheduleBtnL">
	                                            <p>전주시 <br> 한복남 의상 대여</p>
	                                        </div>
	                                    </button>
	                                </h2>
	                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
	                                    <div class="accordion-body">
	                                        <p class="STextT">전주시</p>
	                                        <p class="STextSt">해당 상품은 자유일정으로 진행됩니다.</p>
	                                        <p class="STextSt">💵온누리 상품권 2만원권</p>
	                                        <p>✔ 온누리상품권이란?
	                                            <br>온누리 상품권은 전통시장, 상점가, 상권활성화구역의 보호 및 활성화를 위해
	                                            <br>가맹점으로 등록된 점포에서 사용하는 상품권입니다.
	                                        </p>
	                                        <p>
	                                            <span class="STextSt">🎎 한복남 X 하나투어</span>
	                                            <br>
	                                            <br>👍 한복남만의 특별 헤어스타일링 서비스가 무료!
	                                            <br>👍 헤어악세사리&가방&모자 악세서리 포함!
	                                            <br>
	                                            <br>✔ 구성 : 전통한복 · 테마한복 · 경성의복 · 교복 중 택 1
	                                            <br>✔ 영업시간 : 매일 09:00 - 21:00
	                                            <br>✔ 이용 가능시간 : 종일 (18시까지 반납)
	                                            <br>✔ 이용방법 : 대표 예약자 성함 및 연락처로 대여
	                                            <br>✔ 이용처 : 한복남 전주한옥마을점 (전라북도 전주시 완산구 은행로 00-0)
	                                            <br>✔ 연락처 : 010-0000-0000
	                                        </p>
	                                        <p class="STextSt">
	                                            🏬 베스트 웨스턴 플러스 전주 X 하나투어
	                                        </p>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="accordion-item">
	                                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
	                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
	                                        <div class="scheduleTL">
	                                            <p>2일차</p>
	                                        </div>
	                                        <div class="scheduleBtnL">
	                                            <p>전주시 <br> 전주 한옥마을, 서학예술마을, 자만 벽화마을, 전주동물원 남부시장 / 레얄 뉴타운 청년몰</p>
	                                        </div>
	                                    </button>
	                                </h2>
	                                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
	                                    <div class="accordion-body">
	                                        <p class="STextT">전주시</p>
	                                        <p class="STextSt">해당 상품은 자유일정으로 진행됩니다.</p>
	                                        <p>
	                                            <span class="STextSt">전주 추천 관광지</span>
	                                            <br>
	                                            <br>✔ 전주 한옥마을
	                                            <br>
	                                            <span class="STextSc">&nbsp;&nbsp;&nbsp;&nbsp;다시 찾고 싶은 대한민국 대표 여행지</span>
	                                            <br>✔ 서학예술마을
	                                            <br>
	                                            <span class="STextSc">&nbsp;&nbsp;&nbsp;&nbsp;드라마 '스물다섯 스물하나' 속 만화가게가 있는 곳, 서학예술마을</span>
	                                            <br>✔ 자만 벽화마을
	                                            <br>
	                                            <span class="STextSc">&nbsp;&nbsp;&nbsp;&nbsp;아기자기 다양한 색감의 변화가 가득한 자만 벽화마을</span>
	                                            <br>✔ 전주동물원
	                                            <br>
	                                            <span class="STextSc">&nbsp;&nbsp;&nbsp;&nbsp;도심 속의 쉼터, 전주 동물원</span>
	                                            <br>✔ 남부시장 / 레알 뉴타운 청년몰
	                                            <br><br>
	                                            <span class="STextSc">❕ 해당관광지는 여행을 돕기 위한 안내일 뿐 포함사항은 아닙니다.</span>
	                                        </p>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	
	                <!--관광지 호텔-->
	                <div class="content-3">
	                    <p class="cTextT">관광지</p>
	                    <div class="sights">
	                        <div class="sights-day">
	                            <p class="STextT">1일차</p>
	                            <div class="row sights-img">
	                                <div class="col">
	                                    <img src="${pageContext.request.contextPath }/images/theme1-1-sights-1.jpg" alt="관광지1">
	                                </div>
	                                <div class="col sights-text">
	                                    <p class="STextT">한복남 의상 대여</p>
	                                    <p class="sights-text-content">국내 최대 규모의 전통 한옥촌, 전주.
	                                        <br>전주한옥마을이 내려다보이는 곳에 위치한 한복문화공간 한복남에서 우리옷의 아름다움을 즐기세요. 
	                                        우아하고 고풍스러운 디자인의 테마한복부터, 전통한복, 경성의복에 이르기까지 다양한 테마의 의상이 준비되어있을 뿐만 아니라, 
	                                        의상에 어울리는 고급 헤어스타일링까지 가능합니다.</p>
	                                </div>    
	                            </div>
	                            <p class="STextT">2일차</p>
	                            <div class="row sights-img">
	                                <div class="col">
	                                    <img src="${pageContext.request.contextPath }/images/theme1-1-sights-2.jpg" alt="관광지2">
	                                </div>
	                                <div class="col sights-text">
	                                    <p class="STextT">전주 한옥마을</p>
	                                    <p class="sights-text-content">전주 한옥마을은 전주 풍남동 일대에 700여 채의 한옥이 군락을 이루고 있는 국내 최대 규모의 전통 한옥촌이며, 전국 유일의 도심 한옥 군입니다. 
	                                        1910년 조성되기 시작한 우리나라 근대 주거문화 발달과정의 중요한 공간으로, 경기 전, 오목대, 향교 등 중요 문화재와 20여 개의 문화시설이 산재되어 있으며, 한옥, 한식, 한지, 
	                                        한소리, 한복, 한방 등 韓 스타일이 집약된 대한민국 대표 여행지입니다. 골목골목을 탐색하는 재미가 있는 곳으로, 한옥마을의 아름다운 골목길 모습과 한옥의 정취를 느끼고 예쁜 
	                                        인생 사진도 남겨보세요.</p>
	                                </div>    
	                            </div>
	                            <div class="row sights-img">
	                                <div class="col">
	                                    <img src="${pageContext.request.contextPath }/images/theme1-1-sights-3.png" alt="관광지3">
	                                </div>
	                                <div class="col sights-text">
	                                    <p class="STextT">서학예술마을</p>
	                                    <p class="sights-text-content">'스물다섯, 스물하나' 드라마 속 풀하우스를 기다리며 희도와 유림이 이진을 괴롭히던 만화가게! 서학 예술마을의 한 곳을 책 대여점을 꾸민 곳입니다. 
	                                        골목골목 예술인들이 둥지를 틀며 예술마을로 탈바꿈하면서 개성 넘치는 예술 공간에 아름다운 골목 벽화들을 배경으로 여행의 기록을 남겨보세요.</p>
	                                </div>    
	                            </div>
	                            <div class="row sights-img">
	                                <div class="col">
	                                    <img src="${pageContext.request.contextPath }/images/theme1-1-sights-4.png" alt="관광지4">
	                                </div>
	                                <div class="col sights-text">
	                                    <p class="STextT">자만 벽화마을</p>
	                                    <p class="sights-text-content">한옥마을 근처 전주 오목대 건너편 산자락에 자리 잡은 40여 채의 작은 마을로, 한국 전쟁 때 피난민들이 하나둘씩 정착한 달동네였으나 
	                                        현재는 아름다운 벽화가 가득한 벽화마을로 자리 잡고 있습니다. 다양한 주제의 벽화들이 골목 가득해 구경하는 재미가 있습니다. 
	                                        아름다운 봄꽃과 따뜻하고 생동감 있는 꽃을 테마로 갤러리 벽화가 가득한 자만 벽화마을에서 골목여행을 떠나보세요.</p>
	                                </div>    
	                            </div>
	                            <div class="row sights-img">
	                                <div class="col">
	                                    <img src="${pageContext.request.contextPath }/images/theme1-1-sights-5.jpg" alt="관광지5">
	                                </div>
	                                <div class="col sights-text">
	                                    <p class="STextT">전주동물원</p>
	                                    <p class="sights-text-content">전주동물원은 100여 종의 동물과 다양한 계절 식물이 자라나고 있으며, 도심 속 푸른 쉼터로 40여 년 간 추억 한 편에 있었습니다. 
	                                        어릴 적 부모님 손을 잡고 동화책에서 나오는 동물을 한참이나 바라보던 추억, 사랑하는 이의 손을 잡고 동물보단 서로의 얼굴을 바라보며 나란히 걷던 추억, 
	                                        조그만 아이의 손을 잡고 다른 한 손에 솜사탕을 쥐여주던 추억. 전주동물원에에 빛바랜 추억을 다시 한번 펼쳐보세요.</p>
	                                </div>    
	                            </div>
	                            <div class="row sights-img">
	                                <div class="col">
	                                    <img src="${pageContext.request.contextPath }/images/theme1-1-sights-6.jpg" alt="관광지5">
	                                </div>
	                                <div class="col sights-text">
	                                    <p class="STextT">남부시장 / 레알 뉴타운 청년몰</p>
	                                    <p class="sights-text-content">전주 남부시장은 조선 중기 때부터 전주성 남문 바깥에 섰던 남문장의 역사를 이은 오래된 전통시장입니다.
	                                        오늘날에는 시장 2층에 청년몰을 유치하고 한옥마을과 함께 야시장을 개설해 많은 사람들이 찾고 있습니다.</p>
	                                </div>    
	                            </div>
	                        </div>
	                    </div>
	                    <br>
	                    <br>
	                    <p class="cTextT">호텔</p>
	                    <div class="row hotel">
	                        <div class="col">
	                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3235.0618767925957!2d127.14496491561479!3d35.82295752979271!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357023143e85a7a5%3A0xa66ee4cba815d017!2z67Kg7Iqk7Yq4IOybqOyKpO2EtCDtlIzrn6zsiqQg7KCE7KO8!5e0!3m2!1sko!2skr!4v1655686522650!5m2!1sko!2skr" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	                        </div>
	                        <div class="col">
	                            <p class="STextT">호텔 정보</p>
	                            <table>
	                                <tr>
	                                    <th>위치</th>
	                                    <td>전라북도 전주시 완산구 현무1길 41</td>
	                                </tr>
	                                <tr>
	                                    <th>연락처</th>
	                                    <td>063-231-7777</td>
	                                </tr>
	                                <tr>
	                                    <th>홈페이지</th>
	                                    <td>http://www.bwplusjeonju.com</td>
	                                </tr>
	                                <tr>
	                                    <th>층수 / 객실수</th>
	                                    <td>14 층 / 249 객실</td>
	                                </tr>
	                                <tr>
	                                    <th>체크인 / 체크아웃</th>
	                                    <td>체크인 15:00 / 체크아웃 11:00</td>
	                                </tr>
	                            </table>
	                        </div>
	                    </div>
	                </div>
	                <!--참고사항-->
	                <div class="content-4">
	                    <p class="cTextT">참고사항</p>
	                    <p class="STextT">예약시 유의사항</p>
	                    <p>▸ 본 상품은 '예약 후 수배'되는 상품 으로 결제완료 후 확정여부 안내드립니다.
	                    <br>▸ 본 상품은 1객실(2인 패키지) 가격으로 대표자 1인 예약 시 모든 포함사항이 제공됩니다.
	                    <br>▸ 의상대여는 투숙기간 내에 사용해주시길 바랍니다.
	                    <br>▸ 의상대여는 한복남에 방문하셔서 대표 예약자 분의 성함 및 연락처 확인 후 대여해드립니다.
	                    <br>▸ 온누리상품권은 출발일 1~2일 전 대표 예약자 분의 연락처로 발송됩니다.
	                    <br>▸ 연락처 오기재로 인한 온누리상품권 미수신은 책임지지 않습니다.
	                    <br>▸ 패키지 내 포함사항은 사회적 거리두기 정부지침 변동에 따라 변경되거나 종료 될 수 있습니다.
	                    <br>▸ 사회적 거리두기 정부지침 변동에 따라 객실 및 이용시설 운영 규정이 바뀔 수 있습니다.
	                    </p>
	                    <br>
	                    <p class="STextT">[취소규정]</p>
	                    <p>- 여행개시 4일전 까지 통보시 : 여행요금의 10% 배상
	                    <br>- 여행개시 3일전 까지 통보시 : 여행요금의 50% 배상
	                    <br>- 여행개시 2일전 까지 통보시 : 여행요금의 100% 배상
	                    <br><span class="STextSc">※ 여행출발일 이전 상해,질병,입원,사망등으로 여행을 취소하는 경우 [진단서] 증빙 근거하여 환불이 가능하며 출발일 기준 7일이내 증빙서류를 제출해주시기 바랍니다.
	                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(상세규정은 약관참조)
	                    </span></p>
	                    <br>
	                    <p class="STextT">[예약 취소 시 유의사항]</p>
	                    <p>- 날짜기준 : 업무일, 업무시간 기준 (주말 및 공휴일 제외)
	                    <br>- 업무시간 이외에는 취소처리 되지 않습니다.
	                    <br>- 업무시간 : 월-금 09:00~18:00 (주말,공휴일 휴무제외 / 점심시간 12:00~13:00)
	                    <br>- 토요일/일요일 및 공휴일 취소, 변경 신청이 접수되지 않으며 취소일수에서 제외됩니다.
	                    <p>
	                </div>
	                <!--상품문의-->
	                <div class="content-5">
	                    <div class="c5Ttile">
	                        <div>
	                            <p><span class="cTextT">상품문의</span>&nbsp;&nbsp;&nbsp;(운영시간 09:00 ~ 16:00)</p>
	                        </div>
	                        <div>
	                            <button type="button" class="inquiryBtn"  data-bs-toggle="modal" data-bs-target="#intro">상품문의 작성하기</button>
	                            <div class="modal fade modal-sm" id="intro">
	                                <div class="modal-dialog modal-dialog-centered">
	                                    <div class="modal-content">
	                                        <div class="modal-header">
	                                            <h class="modal-title">안내</h5>
	                                        </div>
	                                        <div class="modal-body">
	                                            <span class="span">로그인</span>을 해주세요.
	                                        </div>
	                                        <div class="modal-footer">
	                                            <button type="button" class="RBtn3" data-bs-dismiss="modal">확인</button>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <table class="inquiryTable">
	                        <thead>
	                            <th id="inT1">답변상태</th>
	                            <th id="inT2">문의내용</th>
	                            <th id="inT3">작성자</th>
	                            <th id="inT4">작성일</th>
	                        </thead>
	                        <tbody>
	                            <tr>
	                                <td class="inTText">답변대기</td>
	                                <td>해당 상품에 대해 문의하고 싶습니다.</td>
	                                <td class="inTText">abcd</td>
	                                <td class="inTText">2022-06-23</td>
	                            </tr>
	                            <tr>
	                                <td class="inTText">답변대기</td>
	                                <td>해당 상품에 대해 문의하고 싶습니다.</td>
	                                <td class="inTText">abcd</td>
	                                <td class="inTText">2022-06-23</td>
	                            </tr>
	                            <tr>
	                                <td class="inTText">답변대기</td>
	                                <td>해당 상품에 대해 문의하고 싶습니다.</td>
	                                <td class="inTText">abcd</td>
	                                <td class="inTText">2022-06-23</td>
	                            </tr>
	                            <tr>
	                                <td class="inTText">답변대기</td>
	                                <td>해당 상품에 대해 문의하고 싶습니다.</td>
	                                <td class="inTText">abcd</td>
	                                <td class="inTText">2022-06-23</td>
	                            </tr>
	                            <tr>
	                                <td class="inTText">답변대기</td>
	                                <td>해당 상품에 대해 문의하고 싶습니다.</td>
	                                <td class="inTText">abcd</td>
	                                <td class="inTText">2022-06-22</td>
	                            </tr>
	                            <tr>
	                                <td class="inTText">답변대기</td>
	                                <td>해당 상품에 대해 문의하고 싶습니다.</td>
	                                <td class="inTText">abcd</td>
	                                <td class="inTText">2022-06-22</td>
	                            </tr>
	                            <tr>
	                                <td class="inTText">답변대기</td>
	                                <td>해당 상품에 대해 문의하고 싶습니다.</td>
	                                <td class="inTText">abcd</td>
	                                <td class="inTText">2022-06-20</td>
	                            </tr>
	                        </tbody>
	                    </table>
	                    <div class="page-nav">
	                        <nav aria-label="Page navigation example">
	                            <ul class="pagination">
	                            <li class="page-item">
	                                <a class="page-link" href="#" aria-label="Previous">
	                                <span aria-hidden="true">&laquo;</span>
	                                </a>
	                            </li>
	                            <li class="page-item"><a class="page-link" >1</a></li>
	                            <li class="page-item"><a class="page-link" >2</a></li>
	                            <li class="page-item"><a class="page-link" >3</a></li>
	                            <li class="page-item">
	                                <a class="page-link" href="#" aria-label="Next">
	                                <span aria-hidden="true">&raquo;</span>
	                                </a>
	                            </li>
	                            </ul>
	                        </nav>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</body>
</html>