<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
	<head>
		<meta charset="UTF-8">
	  	<title>index</title>
	  	<th:block layout:fragment="css">
	  	  <link rel="stylesheet" th:href="@{/css/notice-style.css}">
	  	</th:block>
	  	<th:block layout:fragment="script">
	  	  <script th:inline="javascript">
	  	    $(function(){
				/*<[CDATA[*/
				const userRole = /*[[${#authentication.principal.user.role}]]*/;
				/*]]>*/
				console.log(userRole);
		         if(userRole !== 'ROLE_ADMIN'){
			         $("#btn1").hide();
			         $("#btn2").hide();
			         $("#noticesubTitle").attr("readonly", true);
			         $("#noticeDiv").attr("readonly", true);
			         $("#noticeTitle").attr("readonly", true);
			         $("#noticeContent").attr("readonly", true);
		            }		        
	           });
	  	  </script>
	  	</th:block>	
	</head>
	<body>
		<header></header>
          <div layout:fragment="content">
            <div class="All-Wrapper-fix">
		     <!--본문 부분-->
		     <div class="txt-title">
		        <div>
		            <strong class="big-tit">
		                <p>
		                  <input type="text" name="noticeSubTitle" id="noticeSubtitle" th:value="${notice.noticeSubtitle}" readonly>
		                </p>
		            </strong>
		        </div> 
		    </div>
             <div class="notice-board-wrap">
			    <div class="nb-head">
	               <span class="state">
	                 <input type="text" name="noticeDiv" id="noticeDiv" th:value="${notice.noticeDiv}">
	               </span>
	               <span class="tit">
	                 <input type="text" name="noticeTitle" id="noticeTitle" 
	                        style="width:500px;" th:value="${notice.noticeTitle}">
	               </span>
	               <span class="date">
	                 <input type="text" th:value="${#temporals.format(notice.noticeRegdate, 'yyyy-MM-dd')}">
	               </span>
		        </div>
		        
		        <div class="nb-cont">
		            <textarea name="noticeContent" id="noticeContent" 
		                      th:text="${notice.noticeContent}"
		                      cols="2000" rows="100"
		                      style="width:1000px; height: 400px; resize: none;" readonly></textarea>
		        </div>
			  </div>
			  
			  <div class="btn-wrap">
				     <button type="button" class="btn-bd-cont" id="btn1">
				        <a th:href="@{/notice/insertNotice}">등록</a>
				    </button>
				    <button type="button" class="btn-bd-cont">
				        <a th:href="@{/notice/getNoticeList}">목록</a>
				    </button>
				    <button type="button" class="btn-bd-cont" id="btn2">
				        삭제
				    </button>
			  </div>
			  
			  <ul class="pg-updown">
			        <li>
			            <span><img th:src="@{/images/up1.png}" alt="업" id="updown">다음글</span>
			            <a href="#"> 페이지 끝 입니다.</a>
			        </li>
			        <li>
			            <span><img th:src="@{/images/down1.png}" alt="다운" id="updown">이전글</span>
			            <a href="Notice-normal_ex2.html">[공지] [해외항공] 부정기편 탑승 제한조건 안내</a>
			        </li>
			  </ul>
	       </div>
          </div>
		<footer></footer>
	</body>
</html>