<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">
	<head>
		<meta charset="UTF-8">
	  	<title>index</title>
	  	<th:block layout:fragment="css">
	  	  <link rel="stylesheet" th:href="@{/css/notice-style.css}">
	  	</th:block>	
	</head>
	<body>
		<header></header>
          <div layout:fragment="content">
            <div class="All-Wrapper-fix">
            <form action="/notice/insertNotice" method="post">
		     <!--본문 부분-->
		     <div class="txt-title">
		        <div>
		            <strong class="big-tit">
		                <p>
		                  <input type="text" name="noticeSubTitle" 
		                         style="border: 2px solid black;"required>
		                </p>
		            </strong>
		        </div> 
		    </div>
             <div class="notice-board-wrap">
			    <div class="nb-head">
	               <span class="state">[<input type="text" name="noticeDiv" required>]</span>
	               <span class="tit">
	                 <input type="text" name="noticeTitle" 
	                        style="border: 2px solid black;" required>
	               </span>
	               <span class="date">
	                 <input type="text" name="noticeWriter" th:value="${#authentication.principal.username}" readonly>
	               </span>
		        </div>
		        
		        <div class="nb-cont">
		            <textarea name="noticeContent" style="border: 1px solid black;
		                       width:1000px; height: 400px;"></textarea>
		        </div>
			  </div>
			  
			  <div class="btn-wrap">
				     <button type="submit" class="btn-bd-cont">
				        등록
				    </button>				   
				    <button type="button" class="btn-bd-cont">
				        <a th:href="@{/notice/getNoticeList}">목록</a>
				    </button>
			  </div>
			  
            </form>
	       </div>
          </div>
		<footer></footer>
	</body>
</html>